.layout-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.main-content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    min-height: 0;
    background-color: #F4F4F9;
}