.layout-container {
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: column;
}

.main-content {
    background-color: #f48484;
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow-y: auto;
    min-height: 0;
}