.top-nav {
    background-color: #031926 !important;
    border-bottom: 1px solid #1f7a8c;
    color: #ffffff;
    height: 56px;
    z-index: 1050;
}

.brand-text {
    color: #B8DBD9 !important;
}

.topnav-links .nav-link {
    color: #B8DBD9 !important;
    margin-left: 1rem;
    font-weight: 500;
    transition: color 0.2s ease;
}

.topnav-links .nav-link:hover {
    color: #F0386B !important;
}

.sidebar-offcanvas .offcanvas-body {
    background-color: #1a1c2e;
    color: white;
}

.sidebar-offcanvas .nav-link {
    color: #a0a3bd;
}

.sidebar-offcanvas .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.arrow-icon {
    transition: transform 0.3s ease;
}

.arrow-icon.rotate-180 {
    transform: rotate(180deg);
}

.sidebar-offcanvas .nav-link:focus {
    box-shadow: none !important;
    outline: none !important;
    background-color: transparent !important;
    color: #a0a3bd !important;
}

.top-nav .dropdown-menu {
    background-color: #031926;
    border: 1px solid #1f7a8c;
    margin-top: 0.5rem !important;
}

.top-nav .dropdown-item {
    color: #B8DBD9;
    background-color: transparent;
}

.top-nav .dropdown-item:hover,
.top-nav .dropdown-item:focus,
.top-nav .dropdown-item:active {
    color: #F0386B;
    background-color: rgb(184, 219, 217);
    outline: none;
    box-shadow: none;
}

.top-nav .dropdown-menu .dropdown-item.active {
    color: #FFFFFF !important;
    background-color: #1F7A8C !important;
}

.top-nav .dropdown-divider {
    border-top: 1px solid #1f7a8c;
    opacity: 0.5;
}

.top-nav .dropdown-toggle::after {
    display: none !important;
}

.offcanvas-sub-link {
    padding-left: 2.5rem !important;
}
.offcanvas-divider {
    border-top: 1px solid #1f7a8c;
    opacity: 0.5;
    margin: 0.5rem 0;
}


